.flexbox{
  display: flex;
  flex-direction: row;
}

.flex-inline{
  display: inline-flex;
  flex-direction: row;
}

.flex-align-start{
  justify-content: flex-start;
}

.flex-align-end{
  justify-content: flex-end;
}

.flex-align-center{
  justify-content: center;
}

.flex-align-between{
  justify-content: space-between;
}

.flex-align-around{
  justify-content: space-around;
}

.flex-vertical-start{
  align-items: flex-start;
}

.flex-vertical-end{
  align-items: flex-end;
}

.flex-vertical-center{
  align-items: center;
}

