$grey: #ebebeb;
$grey-dark: #c5c5c5;
$grey-light: #f9f9f9;
$color-text-light: #595959;
$color-text: black;
$green: #02a709;
$green-light: #5fd959;
$red: red;
$red-light: #ff4a4a;
$red-dark:  #ef3939;

$color-sale-icon: #ff0187;
$color-sale-label: #fd57af;

$color-new-icon: $green;
$color-new-label: $green-light;

$color-hit-icon: #02aef0;
$color-hit-label: #7ccceb;

$color-coming-icon: #ffd304;
$color-coming-label: #ffdf48;

$color-stock-icon: #8a2198;
$color-stock-label: #b15bbd;